<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
        <menuitem id="sample_module_root" name="sample invoice" sequence="0"/>
        <!-- This Menu Item must have a parent and an action -->
        <menuitem id="invoice_showing" name="invoice" parent="sample_module_root" action="base_model_action" sequence="0"/>



    </data>
</odoo>